bs4
motor
ffmpeg
Pyrogram
TgCrypto
aiofiles
requests
python-arq
yt-dlp==2022.04.08
ffmpeg-python
beautifulsoup4==4.9.1
youtube_search
youtube-search-python
ytmusicapi
spotdl
rapidfuzz
wget
pillow
hachoir
